/*
Name : Write - Mobile Blog Template
Author : Ngetemplates
Author URL : https://themeforest.net/user/ngetemplates
/* --------------------------------
Table of Contents
- General
- Navbar
- Side Nav
- Slider
- Popular Post
- Post
- Single Post
- Search Result
- Author Page
- Contact
- Login 
- Register
- Error 404
- Footer   
-------------------------------- */

/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Open+Sans:400,600,700');

/* ------------------------------
  General
---------------------------------*/

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.countup {
  margin-bottom: 20px;
  padding: 270px;
}
.countup .timeel {
 text-align: center;
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  margin-top: 13px;
  border-radius: 10px 0 0 10px;

}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}

.countup span[class*="expression"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  color: black;
  background: #FFFFFF;
}
